<html>

  <head>
    <title>subjects Data</title>
    <style>
      table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 80%;
        align: center;
        border: 1px solid #ddd;
      }

      li {
        border-bottom: 3px solid #eee;
        padding: 10px
      }

      th,
      td {
        text-align: left;
        padding: 16px;
      }

      tr:nth-child(even) {
        background-color: #f2f2f2
      }
    </style>
  </head>

  <body>
    <h1 align="center">subjects Data</h1>
    <p align="center"><a href="/subjects/add">Add subjects </a></p>
    <table align="center" border:1px solid #eee>

      <tr>
        <th>id</th>
        <th>Subject Name</th>

        <th>Teachers</th>

        <th>Options</th>
      </tr>
      <% for(var i in subjects) { %>
        <tr>
          <td>
            <%= subjects[i].id %>
          </td>
          <td>
            <%= subjects[i].subject_name %>
          </td>
          <td>
            <% if(subjects[i].Teachers.length < 1) { %>
              <p><b>No teacher / Unassign teacher</b></p>
              <%  } else { %>
                <ol type="a">
                  <% for(let k = 0; k < subjects[i].Teachers.length; k++){ %>
                    <li>
                      <%= subjects[i].Teachers[k].firstName + " " + subjects[i].Teachers[k].lastName%>
                    </li>
                    <%  } %>
                </ol>
                <%  } %>
          </td>
          <th> <a href="/subjects/delete/<%=subjects[i].id%>" onclick="return confirm('Delete this student?')">Delete</a> |
            <a href="/subjects/edit/<%=subjects[i].id%>" onclick="return confirm('Update this student?')">Edit</a></th>
        </tr>
        <% } %>
    </table>


  </body>

</html>