<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit data: <%= category %></title>
</head>
<body>
  <h3>Edit <%= category %></h3>
  <% if (msg) { %>
    <p> <%= msg %> </p>
  <% } %>

  <% if (category === 'subject') { %>
    <form action="/subjects/edit/<%= data.id %>" method="post"></form>
      <table>
        <tr>
          <td>Subject name:</td>
          <td><input type="text" name="subjectName" id="subjectName"></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <input type="submit" value="Submit data">
          </td>
        </tr>
      </table>
    </form>
  <% } else { %>
    <% if (category === 'student') { %>
      <form action="/students/edit/<%= data.id %>" method="post">
    <% } %>
    <% if (category === 'teacher') { %>
      <form action="/teachers/edit/<%= data.id %>" method="post">
    <% } %>
        <table>
          <tr>
            <td>First name:</td>
            <td><input type="text" name="firstName" id="firstName"></td>
          </tr>
          <tr>
            <td>Last name:</td>
            <td><input type="text" name="lastName" id="lastName"></td>
          </tr>
          <tr>
            <td>Email:</td>
            <td><input type="text" name="email" id="email"></td>
          </tr>
          <tr>
            <td></td>
            <td>
              <input type="submit" value="Submit data">
            </td>
          </tr>
        </table>
      </form>
  <% } %>
</body>
</html>