<!DOCTYPE html>
< html>
<head>
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<title></title>
</head>
<body>
	<h1 align="center">Teacher Data</h1>
    <div style="text-align:center">
      <a href="/teachers/add">add teacher</a> || <a href="/">home</a>
    </div>
	<table class="table" border="1">
		<tr>
		<th>Id</th>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Email</th>
		<th>Subject</th>
		<th>Options</th>
		</tr>
		<% for(var i=0;i<teacher.length;i++){ %>
		<tr>
			<th> <%= teacher[i].id %> </th>
			<th> <%= teacher[i].firstName %> </th>
			<th> <%= teacher[i].lastName %> </th>
			<th> <%= teacher[i].email %> </th>
			<th> <%= subjectName(teacher[i]) %></th>
			<th> <a href="/teachers/edit/<%=teacher[i].id%>">Edit</a> | <a href="/teachers/delete/<%=teacher[i].id%>" onclick="return confirm('Delete this teacher?')">Delete</a></th>
		</tr>
	<%}%>
	</table>
</body>
</html>