<html>

  <head>
    <title>Teachers Data</title>
    <style>
      table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 80%;
        align: center;
        border: 1px solid #ddd;
      }
      th,
      td {
        text-align: left;
        padding: 16px;
      }
      tr:nth-child(even) {
        background-color: #f2f2f2
      }
    </style>
  </head>

  <body>
    <h1 align="center">All Teachers Data</h1>
    <p align="center"><a href="/teachers/add">Add Teachers Data</a></p>
    <table align="center" border:1px solid #eee>
      <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Subject</th>
        <th>Option</th>
      </tr>
      <% for(var i=0; i < teachers.length; i++) { %>
        <tr>
          <td>
            <%= teachers[i].id %>
          </td>
          <td>
            <%= teachers[i].firstName %>
          </td>
          <td>
            <%= teachers[i].lastName %>
          </td>
          <td>
            <%= teachers[i].email %>
          </td>
          <td>
            <%= teachers[i].subject.name %>
          </td>
          <th> <a href="/teachers/delete/<%=teachers[i].id%>" onclick="return confirm('Delete this teachers?')">Delete</a> |
            <a href="/teachers/edit/<%=teachers[i].id%>" onclick="return confirm('Update ?')">Edit</a></th>
        </tr>
        <% } %>
    </table>


  </body>

</html>
