<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Teacher Page</title>
	<link rel="stylesheet" href="">
</head>
<body>
	<h1>All Teachers Data</h1>
	<table border=1>
		<caption>Teachers Data</caption>
		<thead>
			<a href="/teacher/add">add teacher</a>
			<tr>
				<th>ID</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
        <th>Subject</th>
				<th>Options</th>
			</tr>
		</thead>
		<tbody>
			<% teachers.forEach((teachers) => { %>
				<tr>
					<td><%=teachers.id%></td>
					<td><%=teachers.firstName%></td>
					<td><%=teachers.lastName%></td>
					<td><%=teachers.email%></td>
					<td><%=validasiSubject(teachers)%></td>
					<td><a href="/teacher/edit/<%= teachers.id %>">Edit </a>
					 		/ <a href="/teacher/delete/<%= teachers.id%>" onclick="confirm('Are you sure?')">Delete</td>
			<% }) %>
		</tbody>
	</table>
	<h3><a href="/home">Back</a></h3>
</body>
</html>
