<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Data Teacher</h1><br>
    <table border="1" class="table">
        <tr>
          <th>Id</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Subject</th>
          <th>Options</th>
        </tr>
        <% for(let i=0; i<dataTeachers.length; i++){ %>
            <tr>
                <th><%= dataTeachers[i].id%></th>
                <th><%= dataTeachers[i].first_name%></th>
                <th><%= dataTeachers[i].last_name%></th> 
                <th><%= dataTeachers[i].email%></th>
                <th><%= subjectName(dataTeachers[i])%></th>
                <th><a href="/teacher/edit/<%=dataTeachers[i].id%>">Edit</a> |<a href="/teacher/delete/<%=dataTeachers[i].id%>">delete</a></th>
            </tr>
        <%}%>
</body>
</html>